/*----------------componentes reutilizables----------------*/

/*----pane principal----*/
.pane-principal{
    -fx-background-color: #f7ede3;
    -fx-pref-width: 1360;
    -fx-pref-height: 720;
}

/*---------container-login----------*/
.container-login{
    -fx-background-color: #f7ede3;
    -fx-border-radius: 10px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.75), 8, 0.2, 0, 1);

}

/*---------Opciones en Settings-----------*/
/*.buttons-Settings{
    -fx-background-color: transparent;
    -fx-border-radius: 2px;
    -fx-border-color: none;
    -fx-text-fill: black;
}

.buttons-Settings:hover{
    -fx-background-color: #B70505;
    -fx-text-fill: white;
}*/

.buttons-Settings{
    -fx-background-color: #B70505;
    -fx-border-radius: 2px;
    -fx-border-color: none;
    -fx-text-fill: white;
    -fx-pref-height: 45px;
}

.buttons-Settings:hover{
    -fx-background-color: #E02020;
    -fx-text-fill: white;
}

/*---pane header-----*/
.pane-Header{
    -fx-background-color: #B70505;
    -fx-alignment: center;
    -fx-pref-width: 1360px;
    -fx-pref-height: 55px;
    -fx-padding: 15px 0 0 0;
}
.pane-Header2{
    -fx-background-color: #B70505;
    -fx-alignment: center;
    -fx-pref-height: 55px;
    -fx-padding: 15px 0 0 0;
}
/*----------*/
.texto{
    -fx-font-family: 'Inter';
    -fx-font-size: 16px;
}

.button-Volver{
    -fx-background-color: transparent;
    -fx-text-fill: #B70505;
    -fx-alignment: center;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-pref-width: 95px;
    -fx-pref-height: 40px;
    -fx-border-radius: 4px;
    -fx-transition: transform 0.2s ease-in-out;
}

.button-Volver:hover {
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-background-color: transparent;
}

/*-----buttons en general--------*/
.buttons{
    -fx-background-color: transparent;
    -fx-text-fill: black;
    -fx-alignment: center;
    -fx-border-radius: 4px;
    -fx-border-color: #B70505;
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
}

.buttons:hover{
    -fx-background-color: #B70505;
    -fx-text-fill: white;
    -fx-border-radius: 4px;
}

/*-----títulos--------*/
.title{
    -fx-text-fill: white;
    -fx-font-family: 'Inter';
    -fx-font-size: 24px;
    -fx-alignment: center;
}

.title-red{
    -fx-text-fill: #B70505;
    -fx-font-family: 'Inter';
    -fx-font-size: 20px;
    -fx-alignment: center;
}

/*--------tabla proveedores---------------------------------------------------*/

.tablaProveedores {
    -fx-background-color: #FFFDFC;
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.tablaProveedores .column-header{
    -fx-background-color: #F6BBBB;
    -fx-text-fill: #FFF;
    -fx-font-family: 'Inter';
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table{
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-alignment: center;
}

/* Estilo para el ScrollPane */
.scroll-pane {
    -fx-background: #f7ede3; /* Fondo del ScrollPane */
    -fx-background-color: #f7ede3; /* Fondo interno del ScrollPane */
}

/* Fondo del área de contenido dentro del ScrollPane */
.scroll-pane .viewport {
    -fx-background-color: #f7ede3;
}

#paneDetallesReceta{
    -fx-border-color: #cccccc;
    -fx-border-radius: 8px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2); /* Sombra */
}

/* Aplica la fuente Inter a todo el VBox */
#vboxIngredientes {
    -fx-font-family: 'Inter';
    -fx-spacing: 10px; /* Espaciado entre los elementos */
    -fx-padding: 10px; /* Espaciado interno en el VBox */
    -fx-background-color: #f7ede3; /* Fondo claro */
}

/* Estilo para cada Label dentro del VBox */
#vboxIngredientes Label {
    -fx-font-size: 14px; /* Tamaño de letra */
    -fx-text-fill: #333333; /* Color del texto */
    -fx-padding: 8px 12px; /* Espaciado interno */
    -fx-background-color: #f7ede3; /* Fondo del Label */
    -fx-border-color: #e0e0e0;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2); /* Sombra */
}

.texto-login {
    -fx-font-family: 'Inter';
    -fx-font-weight: bold;
    -fx-font-size: 50px;
}

.paneLogin{
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
}

.TextField{
    -fx-effect: dropshadow(one-pass-box, rgba(0,0,0,0.1), 4, 0, 0, 2); /* Sombra */
}

.texto-textfield{
    -fx-font-family: 'Arial';
    -fx-font-size: 14px;
}

/* Estilo para el ToggleButton */
.toggle-button {
    -fx-font-family: 'Inter';
    -fx-background-color: #e0e0e0;
    -fx-text-fill: black;
    -fx-padding: 5 20 5 20;
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-pref-width: 115px;
}

.toggle-button:selected {
    -fx-background-color: #B70505;
    -fx-text-fill: white;
}

.toggle-button:hover {
    -fx-background-color: #b3b3b3;
}

/* Color para la serie de Ingresos (series0) */
.default-color0.chart-bar {
    -fx-bar-fill: #4CAF50; /* Verde */
}

/* Color para la serie de Egresos (series1) */
.default-color1.chart-bar {
    -fx-bar-fill: #F44336; /* Rojo */
}

.chart-pie-label {
    -fx-fill: black;
    -fx-font-size: 18px;
}

.chart-legend {
    -fx-background-color: #dbbea1;
    -fx-text-fill: black;
}

