/* Estilos para todo el GridPane */
.calendarGrid {
    -fx-border-color: black; /* Bordes del grid */
    -fx-border-width: 1px;
    -fx-border-style: solid;
    -fx-alignment: center;
    -fx-padding: 5;
    -fx-font-family: 'Inter', sans-serif;

}

.weekend_cell {
    -fx-text-fill: blue;
    -fx-background-color: #cce7ff;
}