<hibernate-configuration>
  <session-factory>
    <!-- Conexión a MySQL -->
    <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/Pasteleria</property>
    <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password"></property>

    <!-- Dialecto de MySQL -->
    <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>

    <!-- Automáticamente actualizar esquema -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Mostrar SQL en consola -->
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
  </session-factory>
</hibernate-configuration>
